@use "../variables" as v;

.connect-form {
  grid-row: 2;
  margin: auto;
  width: 100%;

  display: grid;
  // grid-template-columns: 50% 50%;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;

  .connect-button,
  .next-button {
    justify-self: center;
    align-self: end;
    background-color: black !important;
    color: white;
    border-radius: 5px;
    width: 95%;
    max-width: 200px;
    height: 90%;
    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 5px v.$gray;
    }
    padding: 0.5rem;
  }

  .message-user-button {
    grid-column: 1 / 3 !important;
  }

  .next-button {
    background-color: transparent !important;
    border: solid thin black !important;
    color: black !important;
  }
}
