@use "../variables" as v;

.connect-form {
  display: grid;
  grid-template-columns: 50% 50%;
}
.connect-button {
  background-color: black !important;
  color: white;
  padding: 4px 1rem 4px 1rem;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}
