@use "../variables" as v;

.connections-container {
  text-align: center;
  overflow-y: auto;
  max-height: 90%;
  .minimal-user-card {
    height: min-content !important;

    // max-height: 350px !important;
    width: 40vw !important;
    max-width: 200px !important;
    display: inline-block;
    margin: 1rem;
    font-size: 1rem;

    button {
      height: 2rem !important;
    }
  }
  .incoming-requests-container {
    width: 95%;

    margin: 2rem auto 2rem auto;
    .incoming-requests {
      max-height: min-content;
      overflow-x: auto;
      white-space: nowrap !important;
      padding: 0 1rem 0 1rem;
    }
  }
}
