@use "../variables" as v;

.filter {
  align-self: start;
  grid-column: 1 / 3;
  z-index: 50;
  width: 95%;
  border: solid thin v.$light-gray;
  background-color: white;
  text-align: center;
  padding: 1rem;
  margin: 0 auto 0 auto;
}

.filter-toggle {
  &:hover {
    cursor: pointer;
  }
}
