@use "../variables" as v;

.filter {
  align-self: start;
  grid-column: 1 / 3;
  z-index: 50;
  width: 100%;
  max-width: 400px;
  border: solid thin v.$dark;
  background-color: white;
  text-align: center;
  padding: 0.5rem;
  margin: 0 auto 0 auto;
}

.filter-toggle {
  &:hover {
    cursor: pointer;
  }
}
