@use "../variables" as v;

.new-message {
  width: 100%;
  display: grid;
  grid-template: 100% / 90% 10%;
}

.new-message-input {
  grid-column: 1;
}

.new-message-input input {
  width: 100%;
  border-radius: 5px;
  border: solid thin grey;
  height: 3rem;
}


