@use "../variables" as v;

.recommended-users {
  display: grid;
  grid-template: 10% 90% / 1fr;
  text-align: center;
  height: 100%;
}

.cards-container {
  grid-row: 2;
  height: 90%;
  overflow: hidden;
  white-space: nowrap;
}
.card {
  grid-row: 2;
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.preview-user-card {
  border: solid thin;
  border-color: v.$gray;
  box-shadow: 1px 1px 6px v.$light-gray;
  height: 100%;
  width: 80vw;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 5%;
}

.user-photo {
  width: 100%;
  height: auto;
}
