@use "../variables" as v;

.recommended-users {
  display: grid;
  grid-template: 5% 95% / 1fr;
  text-align: center;
  height: 90vh;
  max-height: 800px;

  .cards-container {
    grid-row: 2;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;

    .preview-user-card {
      max-width: 500px;
    }
  }
  .card,
  .inactive {
    grid-row: 2;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
}
