@use "../variables" as v;

.recommended-users {
  text-align: center;
}

.cards-container {
  height: 70vh;
  overflow: hidden;
  white-space: nowrap;
  transition: ease-in-out;
  transition-duration: 1s;
  scroll-behavior: smooth;
  
  
}
.card {
  display: inline-block;
  width: 100%;
}


// .active.card {
//   animation-name: slideIn;
//   animation-duration: 1s;
  
// }
// @keyframes slideIn {
//   from {
//     margin-left: 100%;
//     width: 200%;
//   }

//   to {
//     margin-left: 0%;
//     width: 100%;
//   }
// }

// .inactive.card {
//   // display: none;
// }

