@use "../variables" as v;

.user-notification {
  display: grid;
  position: relative;
  background-color: v.$green;
  color: v.$white;
  filter: opacity(70%);
  padding: 1rem 2rem;
  padding-right: 3rem;
  margin: 1rem 0;
  box-shadow: v.$box-shadow;

  .delete-notification-btn {
    background-color: v.$red;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    width: 2rem;
    height: 100%;

    div {
      background-color: v.$white;
      width: 100%;
      height: 1px;
      &:first-of-type {
        transform: rotate(45deg);
      }
      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
  }

  .user-notification-date {
    font-weight: bold;
    opacity: 0.7;
    padding-top: 1rem;
  }
}

@media (min-width: 1025px) {
  .user-notification {
    @include v.flexbox-col-spaced;
    flex-direction: row;
    .user-notification-date {
      padding: 0;
    }
  }
}
