@use "../variables" as v;

.user-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 15rem;
  max-width: 20rem;
  width: fit-content;
  height: 5rem;
  padding: 2rem 1rem;
  border-radius: v.$border-radius;
  margin: 1rem;
  transition: v.$transition;
  background-color: v.$light-gray;
  box-shadow: v.$box-shadow;

  &.spotify {
    background-color: v.$green;
    color: v.$white;
  }

  &:hover {
  }

  img {
    max-width: 3rem;
    height: auto;
    border-radius: 100%;
  }
  div {
    margin: 0 1rem;
  }
}
