@use "./variables" as v;

.messaging-container {
  display: grid;
  grid-template: 85vh / 1fr;
  margin: 1rem auto auto auto;
  max-width: 500px;
  background-color: v.$light-gray;
  .chatroom-previews {
    grid-area: 1 / 1 / 2 / 2;

    overflow-y: auto;
  }

  .shown-chatroom {
    grid-area: 1 / 1 / 2 / 2;
  }

  .chatroom-preview {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-bottom: solid thin lightgray;

    &:hover {
      cursor: pointer;
    }
  }

  .chatroom-preview-selected {
    background-color: v.$gray;
  }

  .chatroom-preview-unread {
    background-color: v.$green;
  }
}
