@use "./variables" as v;

.messaging-container {
  // display: grid;
  // grid-template: 90vh / 1fr 3fr;
  padding-top: 3rem;
  margin: auto;
  max-width: 500px;

  .chatroom-previews {
    grid-area: 1 / 1 / 2 / 2;
    border: solid thin lightgray;
  }

  .shown-chatroom {
    grid-area: 1 / 2 / 2 / 3;
    border: solid thin lightgray;
  }

  .chatroom-preview {
    display: flex;
    align-items: center;
    border-bottom: solid thin lightgray;
  }

  .chatroom-preview-selected {
    background-color: v.$gray;
  }

  .chatroom-preview-unread {
    background-color: v.$green;
  }
}
