@use "./variables" as v;

.messaging-container {
  display: grid;
  grid-template: 85vh / 1fr;
  padding-top: 1rem;
  margin: auto;
  max-width: 500px;

  .chatroom-previews {
    grid-area: 1 / 1 / 2 / 2;
    border: solid thin lightgray;
    height: min-content;
    overflow-y: auto;
  }

  .shown-chatroom {
    grid-area: 1 / 1 / 2 / 2;
    border: solid thin lightgray;
    padding: 1rem;
  }

  .chatroom-preview {
    display: flex;
    align-items: center;
    border-bottom: solid thin lightgray;

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .chatroom-preview-selected {
    background-color: v.$gray;
  }

  .chatroom-preview-unread {
    background-color: v.$green;
  }
}
