$box-shadow: rgba(0, 0, 0, 0.3);
$transition: 0.3s all ease-in-out;
$dark: #2b2929;
$white: rgb(236, 244, 250);
$gray: #e0e0e0;
$light-gray: #f7f7f7;
$border: 1px solid $gray;
$box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.3);

@mixin flexbox-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flexbox-col-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
