@use "variables" as v;
@use "home";
@use "nav";
@use "./components/CurrentUserProfile";
@use "./components/UserNotification";
@use "./components//UserTag";
@use "./messaging";
@use "./components//Chatroom";
@use "./components//Message";
@use "./components/NewMessage";
@use "./components/ChatroomPreview";
@use "./components/Alert";
@use "./components/Filter";
@use "./components/LocationSlider";
@use "./components/RecommendedUsers";
@use "./components/ConnectForm";
@use "./components/PreviewUserCard";
@use "./components/Tags";
.App {
  font-size: 17px; // change this to variably increase the size of all the child rem sizing
  min-height: 100vh;

  * {
    box-sizing: border-box;
  }
  .App {
    min-height: 100vh;
  }

  button {
    border: none;
    border-color: v.$gray;
    background: none;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

  p {
    width: 100%;
    max-width: 10rem;
    margin: 0;
    &:last-of-type {
      margin-bottom: 1rem;
    }
  }
}
