@use "variables" as v;
@use "home";
@use "nav";
@use "./components/CurrentUserProfile";

.App {
  font-size: 17px; // change this to variably increase the size of all the child rem sizing
  min-height: 100vh;

  * {
    box-sizing: border-box;
  }
  .App {
    min-height: 100vh;
  }

  button {
    border: none;
    border-color: v.$gray;
    background: none;
    &:hover {
      cursor: pointer;
    }
  }

  p {
    width: 100%;
    max-width: 10rem;
    margin: 0;
    &:last-of-type {
      margin-bottom: 1rem;
    }
  }
}
