@use "variables" as v;
@use "home";
@use "nav";

#root {
  font-size: 17px; // change this to variably increase the size of all the child rem sizing
  min-height: 100vh;

  * {
    box-sizing: border-box;
  }
  .App {
    min-height: 100vh;
  }

  button {
    border: none;
    background: none;
    &:hover {
      cursor: pointer;
    }
  }
}
